.u-section-1 .u-sheet-1 {
  min-height: 178px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 589px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 32px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 24px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0 6px;
}

.u-section-2 .u-table-1 {
  width: 453px;
  margin: 12px auto 0;
}

.u-block-e141-32 {
  height: 46px;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-block-e141-47 {
  height: 46px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 98px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 21px auto 0 30px;
}

.u-section-2 .u-map-1 {
  height: 436px;
  width: 558px;
  margin: 12px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 31px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-2 .u-table-1 {
    width: 375px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 671px;
  }

  .u-section-2 .u-map-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-table-1 {
    width: 276px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 830px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-map-1 {
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 505px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-map-1 {
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}