 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 871px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 437px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 100px;
}

.u-section-1 .u-image-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  width: 455px;
  left: 40px;
  right: auto;
}

.u-section-1 .u-image-2 {
  min-height: 404px;
  background-image: url("images/DALLE2022-10-0310.52.28.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 841px;
}

.u-section-1 .u-container-layout-3 {
  padding: 62px 0;
}

.u-section-1 .u-image-3 {
  height: 586px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  width: 555px;
  margin: 51px auto 0 -8px;
}

.u-section-1 .u-group-1 {
  min-height: 194px;
  width: 322px;
  height: auto;
  margin: -390px auto 0 -176px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  width: 200px;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  align-self: center;
  margin: 16px auto 0;
  padding: 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-image-2 {
    min-height: 333px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 694px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .u-section-1 .u-image-3 {
    height: 480px;
    margin-top: 36px;
    width: 455px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 185px;
    margin-top: -322px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 -120px -21px auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 364px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 312px;
    min-height: 211px;
    margin-top: 17px;
    margin-left: auto;
    margin-bottom: -66px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1759px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin: 10px auto 0 33px;
  }

  .u-section-1 .u-image-2 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 671px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 546px;
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 401px;
    min-height: 168px;
    margin-top: -1222px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 344px;
    margin-top: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    min-height: 146px;
    margin-top: -519px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }
}