 .u-section-1 {
  background-position: 50% 51.43%;
}

.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 836px;
}

.u-section-2 .u-text-1 {
  margin: 118px 353px 0 275px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -42px 721px 0 19px;
}

.u-section-2 .u-text-3 {
  margin: -125px auto 0 19px;
}

.u-section-2 .u-table-1 {
  width: 924px;
  margin: 96px auto 35px 19px;
}

.u-block-77aa-90 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-block-77aa-105 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-right: 428px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-right: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -137px;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    margin-top: 108px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
    margin-right: 195px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 307px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -144px;
    margin-left: 13px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-top: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 190px;
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -101px;
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -126px;
    margin-left: 11px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-top: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1645px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -161px;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: 132px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 823px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 25px 991px 0 19px;
}

.u-section-3 .u-table-1 {
  width: 924px;
  margin: 11px auto 0 19px;
}

.u-block-06f2-90 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  font-weight: 700;
}

.u-block-06f2-105 {
  height: 46px;
}

.u-section-3 .u-text-2 {
  margin: 19px 570px 0 19px;
}

.u-section-3 .u-table-2 {
  width: 924px;
  margin: 19px auto 0 19px;
}

.u-block-06f2-117 {
  height: 46px;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 400;
}

.u-block-06f2-132 {
  height: 46px;
}

.u-section-3 .u-text-3 {
  margin: 31px 570px 0 19px;
}

.u-section-3 .u-table-3 {
  width: 924px;
  margin: 19px auto 30px 19px;
}

.u-block-06f2-144 {
  height: 46px;
}

.u-section-3 .u-table-cell-13 {
  font-weight: 400;
}

.u-block-06f2-159 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 810px;
    margin-left: 0;
  }

  .u-section-3 .u-table-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-3 .u-table-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-3 .u-table-3 {
    height: 187px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 590px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 169px;
  }

  .u-section-3 .u-table-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 169px;
  }

  .u-section-3 .u-table-3 {
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 410px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-table-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }

  .u-section-3 .u-table-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 479px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 27px 861px 0 19px;
}

.u-section-4 .u-text-2 {
  width: 582px;
  margin: -27px auto 0;
}

.u-section-4 .u-table-1 {
  width: 924px;
  margin: 0 auto 27px 19px;
}

.u-block-14ce-90 {
  height: 46px;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-12 {
  font-weight: 400;
}

.u-block-14ce-105 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 680px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-table-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 460px;
  }

  .u-section-4 .u-table-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 280px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 80px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}